<!DOCTYPE html>
<html lang="en">
    <% include header.ejs %>
    <body>
        <% include navbar.ejs %>
        <div id="container">
            <div class="imageContent">
                <img src="<%= tempCharacter.characterPageImageLocation %>" 
                    alt="<%= tempCharacter.characterFirstName %> 
                <%= tempCharacter.characterLastName %>" 
                style="display:block;margin-left:auto;margin-right:auto;"/>
            </div> 
            <div class="characterInfoContent">
                <table>
                    <tr>
                        <td>First name: </td>
                        <td>&nbsp;<%= tempCharacter.characterFirstName %></td>
                    </tr>
                    <tr>
                        <td>Last name: </td>
                        <td>&nbsp;<%= tempCharacter.characterLastName %></td>
                    </tr>
                    <tr>
                        <td>Gender: </td>
                        <td>&nbsp;<%= tempCharacter.characterGender %></td>
                    </tr>
                    <tr>
                        <td>Height: </td>
                        <td>&nbsp;<%= tempCharacter.Height %></td>
                    </tr>
                    <tr>
                      <td>Shows: </td>
                        <% tempCharacter.anime.forEach(function(show){ %>
                            <td style="display:inline-block;"><%= show %> |</td>
                        <% }); %>
                    </tr>
                </table> 
            </div>
        </div>
    </body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../Scripts/navbar.js"></script>
</html>